/*******ESTILOS GENERALES********/
.fontFamilyWS {
    font-family: 'Montserrat', sans-serif;
}
.titulo1{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
.botonesWS{
    border-radius: 16px;
    border: 1px solid #4F5479;
    background: transparent;
    color: #4F5479;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 8px 23px;
}
.estiloBoton2{
    color: #4F5479;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 5px 16px;
    border-radius: 16px;
    border: 1px solid #4F5479;
}
.divisonr100{
    width: 100%;
    border: 1px solid #CCC;
}
.divisor90{
    border: 1px solid #CCC;
    margin-left: 22px;
    margin-right: 35px;
}
.labelFormulario{
    margin: 0px;
    color: #4F5479;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    text-align: right;
}
.imputFormulario{
    margin-right: 50px;
    border-radius: 16px;
    background-color: rgba(79,84,121,0.09);
    color: #4F5479;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 14px;
    border: none;
    width: 90%;
}

#encabezado{
    margin: 17px 40px 12px 30px;
    display: flex;
}
.subtitulo{
    margin: 0px;
    color: #444;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}
.diasSemana{
    color: #444;
    font-size: 12px;
    line-height: 20px;
}

#encabezado{
    margin: 17px 40px 12px 30px;
    display: flex;
}

#botonesPrincipales,
#titulosModal{
    width: 50%;
    display: flex;
    align-items: center;
}

#botonesPrincipales{
    justify-content: flex-end;
}
.titulo1{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.divisonr100{
    width: 100%;
    border: 1px solid #CCC;
}

.filaWS{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.columna1{
    padding-right: 27px;
    width:26%;
    display: flex;
    justify-content: flex-end;
}

.columna2{
    width: 74%;
}

@media (max-height: 600px) {
    .contHorarioWS{
        height: 400px;
    }
}

/*estilos de la tabla*/
.tablaModulo {
    /* margin-left: 20px;
    margin-right: 20px; */
    height: calc(100% - 110px);
  }
  
  .encabezadoTabla {
    background-color: rgba(79, 84, 121, 0.09);
    color: #4F5479;
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
  }
  
  .contFila {
    color: #4D4D4D;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    padding: 16px 0px 19px 16px;
    display: flex;
  }
  
  .columnaAcciones {
    display: flex;
    justify-content: flex-end;
  }
  .filaTablaWS{
    border-bottom: 1px solid #CCC;
    border-left: 0px;
  }

  .inputEdit{
    border-radius: 16px;
    background-color: rgba(79,84,121,0.09);
    color: #4F5479;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 14px;
    border: none;
  }

  .inputNoEdit{
    border-radius: 16px;
    background-color: transparent;
    color: #4F5479;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 14px;
    border: none;
  }
  
  .selectCategory{
    color: #555555 !important;
    min-height: 30px !important;
    padding-left: 7px !important;
    box-sizing: border-box !important;
    width: 335px !important;
    border-radius: 16px !important;
    border: 1px solid #4F5479 !important;
  }

  form input.border,
form textarea.border,
form select.border,
form ng-select.border {
    border: 1px solid var(--color-morado) !important;
}

.divContenedorFormulario{
    /* height: calc(59vh - 200px); */
    height: 284px !important;
  }

  /* @media (max-height: 1270px) {
    .divContenedorFormulario{
        height: calc(66vh - 200px);
      }
  } */
  
  @media (max-height: 533px) {
    .divContenedorFormulario{
        height: calc(109vh - 200px) !important;
      }
  }

 